:root{
    --color-primary: #83286D;
    --color-secondary: #F4BFC2;
    --color-accent: #D58BA8;
    --color-background: #FBF1E5;
    --color-text: #2B1F2F;
    --shadow: rgba(131, 40, 109, 1);

    --play-font-family: 'Playfair Display', sans-serif;
    --kudry-font-family: 'Kudryashev Display Sans', sans-serif;
    --quick-font-family: 'Quicksand', sans-serif;
    --text-font-family: 'Poppins', sans-serif;

    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --h3-font-size: 28px;
    --p-font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--text-font-family);
    background-color: var(--color-background);
    color: var(--color-text);
}

/* header */
header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center; 
    width: 98%;
    padding: 15px 15px 0 15px; /* t r b l */
    background-color: rgb(251, 241, 229, 0.8);
    color: var(--color-text);
    border-bottom: 2px solid var(--color-primary);
    box-shadow: 0 2px 6px var(--shadow);
}

.linha-vertical{
    width: 2px;
    height: 60px;
    border: none;
    box-shadow: 0 2px 6px var(--shadow);
    background-color: var(--color-primary);
}



.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.fisioella {
    font-family: var(--quick-font-family);
    font-size: var(--h1-font-size);
    font-weight: 300;
    color: var(--color-text);
    margin: 0;
}

.dra-neila{
    font-family: var(--kudry-font-family);
    font-size: var(--h1-font-size);
    font-weight: 600;
    color: var(--color-text);
    margin: 0;
}

header ul {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
}

.nav-list a{
    font-family: var(--quick-font-family);
    font-size: var(--h3-font-size);
    text-decoration: none;
    color: var(--color-text);
}
.nav-list a::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--color-primary);
    box-shadow: 0 2px 4px var(--shadow);
    transition: width 0.3s;
}
.nav-list a:hover::after{
    width: 100%;
}
.nav-list a:hover{
    color: var(--color-primary);
    text-shadow: 0 1px 3px var(--shadow);
}
.nav-list a.active {
    color: var(--color-primary);
    text-shadow: 0 1px 3px var(--shadow);
    font-weight: bold;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 0 50px 0; /* t r b l */
 
}

#inicio h2{
    font-family: var(--kudry-font-family);
    font-size: var(--h2-font-size);
    font-weight: 600;
    color: var(--color-text);
   
}

#inicio p{
    font-family: var(--text-font-family);
    font-size: var(--p-font-size);
    font-weight: 300;
    color: var(--color-text);
   
}

.fisio-pelvica {
    padding: 80px;
    font-family: var(--text-font-family);
    font-size: var(--p-font-size);
    font-weight: 400;
    color: var(--color-text);
}
.publico-alvo {
    padding: 80px;
    font-family: var(--text-font-family);
    font-size: var(--p-font-size);
    font-weight: 400;
    color: var(--color-text);
}

.publico-alvo ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: relative;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.publico-alvo li{
    font-family: var(--text-font-family);
    font-size: var(--p-font-size);
    font-weight: 400;
    color: var(--color-text);
    margin: 0;
}