:root{
    --color-primary: #83286D;
    --color-secondary: #F4BFC2;
    --color-accent: #D58BA8;
    --color-background: #FBF1E5;
    --color-text: #2B1F2F;
    --shadow: rgba(131, 40, 109, 1);

    --title-font-family: 'Playfair Display', sans-serif;
    --title2-font-family: 'Kudryashev Display Sans', sans-serif;
    --title3-font-family: 'Quicksand', sans-serif;
    --text-font-family: 'Poppins', sans-serif;

    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --h3-font-size: 28px;
    --p-font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--text-font-family);
    background-color: var(--color-background);
    color: var(--color-text);
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--color-text);
    border-bottom: 2px solid var(--color-accent);
}

.linha-vertical{
    width: 2px;
    height: 60px;
    border: none;
    box-shadow: 0 2px 6px var(--shadow);
    background-color: var(--color-primary);
}

.fisioella {
    font-family: var(--title3-font-family);
    font-size: var(--h1-font-size);
    font-weight: 300;
    color: var(--color-text);
}

.dra-neila{
    font-family: var(--title2-font-family);
    font-size: var(--h1-font-size);
    font-weight: 600;
    color: var(--color-text);
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: var(--color-text);
}